h1= title
div(id='googleMap')
div(class='nav')
	a(href='/ajax-multi-better') better >>

script(type='text/javascript', src='/javascripts/jquery-1.7.2.js')
script(type='text/javascript', src='/javascripts/jquery.pubsub.js')
script(type='text/javascript', src='/javascripts/zd.js')
script(type='text/javascript', src='/javascripts/constants.js')
script(type='text/javascript', src='/javascripts/app-multi.js')
script(type='text/javascript', src='/javascripts/ajax-multi.js')